<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
   - Author: XrXr
-->
<h3 class="heading">Changelog</h3>

<div class="modal-body">
  <h5>2.5.0 (September 8th 2018)</h5>
  <ul>
    <li>Show a "Clear all videos" button after skipping 5 videos (<kbd>Ctrl</kbd>/<kbd>⌘</kbd> click to skip)</li>
    <li>Fix a display bug that happens when removing the currently selected channel</li>
  </ul>

  <h5>2.4.2 (April 4th 2018)</h5>
  <ul>
    <li>Order the channel list so that channels that have unwatched videos are on top</li>
  </ul>

  <h5>2.4.1 (October 22nd 2017)</h5>
  <ul>
    <li>Compatibility with Firefox 57</li>
  </ul>

  <h5>2.4.0 (August 31st 2017)</h5>
  <ul>
    <li>This is a maintenance release for compatibility with Firefox 57 in the future</li>
  </ul>
</div>
<div class="modal-footer"><button class="btn btn-primary" ng-click="$dismiss()">Close</button></div>
