<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
   - Author: XrXr
-->
<script type="text/ng-template" id="channel-title.html">
  <a>
    <span ng-bind-html="match.model.title | escape | uibTypeaheadHighlight:query"></span>
  </a>
</script>
<h3 class="heading">Settings</h3>

<div class="modal-body settings-modal" ng-class="{invalid: !tabs.general.valid}">
    <uib-tabset active="active_tab_idx">
      <uib-tab heading="General" classes="general-tab">
        <br>
        <form class="form-inline" ng-class="tabs.general.interval_class" role="form">
            <label class="control-label">Check Interval &nbsp;</label>
            <input class="form-control interval-input" ng-model="config.interval" ng-change="tabs.general.validate(config.interval)" type="text" placeholder="Time in minutes" style="width: 40%">
            &nbsp;
            <label class="control-label">minutes</label>
        </form>
        <br>
        <form class="form-inline" role="form">
            <label class="control-label">Notification Sound
                <input type="checkbox" ng-model = "config.play_sound" class="setting-check-box">
            </label>
        </form>
        <br>
        <form class="form-inline" role="form">
            <label class="control-label">Open Video in Background Tab
                <input type="checkbox" ng-model="config.in_background" class="setting-check-box">
            </label>
        </form>
        <br>
        <form class="form-inline" role="form">
            <label class="control-label">Enable Animations
                <input type="checkbox" ng-model="config.animations" class="setting-check-box">
            </label>
        </form>
        <br>
        <button type="button" class="btn btn-primary" ng-click="tabs.general.clear_history()">Clear History</button>
        <button type="button" class="btn btn-primary" ng-click="tabs.general.changelog()">Changelog</button>
      </uib-tab>

      <uib-tab heading="Filters" deselect="clear_badge()" class="filters-tab">
        <br>
        <div class="row">
          <div class="col-md-5">
            <select select-index="tabs.filter.current_filter"
                    size="10"
                    class="form-control filter-select">
              <option ng-repeat="f in config.filters"
                      ng-class="get_filter_class(f)"
                      ng-click="tabs.filter.fill_input_form(f)"
                      ng-value="$index"
                      class="ellipses filter-entry">{{f.channel_title + " | " + f.video_title_pattern}}</option>
            </select>
            <div class="button-row">
                <button type="button"
                        ng-click="tabs.filter.add_filter(tabs.filter.new_filter)"
                        ng-disabled="!tabs.filter.can_add(tabs.filter.new_filter)"
                        class="btn btn-success filter-add-btn">
                  Add
                </button>
                <button type="button" class="btn btn-danger"
                 ng-click="tabs.filter.remove_filter(tabs.filter.current_filter)"
                 ng-disabled="tabs.filter.current_filter < 0">Remove</button>
            </div>
          </div>
          <div class="col-md-7">
            <h4>For the channel...</h4>
            <div>
              <input ng-model="tabs.filter.new_filter.channel"
                     uib-typeahead="channel for channel in channels.channels |
                                    filter:{title:$viewValue} | limitTo:4"
                     typeahead-template-url="channel-title.html"
                     typeahead-editable="false"
                     class="form-control filter-channel-input"
                     type="text"
                     placeholder="cases are ignored">
            </div>
            <h4>only videos with title that match...</h4>
            <div class="filter-input-row">
              <input ng-model="tabs.filter.new_filter.video_title_pattern"
                     type="text"
                     placeholder="cases are ignored"
                     class="form-control filter-pattern-input">
              <div class="checkbox filter-regex-checkbox">
                <label>
                  <input type="checkbox" ng-model="tabs.filter.new_filter.video_title_is_regex"> RegEx
                </label>
              </div>
            </div>
            <label class="tag-checkbox">
              <input type="checkbox" ng-model="tabs.filter.new_filter.inspect_tags">
              <span>also check video tags</span>
            </label>
            <h4 class="filter-shouldbe">should be...</h4>
            <label class="checkbox-inline">
              <input type="radio" ng-model="tabs.filter.include_radio_getter_setter" ng-model-options="{ getterSetter: true }" name="filter_option" value="exclude" checked="true"> Excluded
            </label>
            <label class="checkbox-inline">
              <input type="radio" ng-model="tabs.filter.include_radio_getter_setter" ng-model-options="{ getterSetter: true }" name="filter_option" value="include"> Included
            </label>
            <div class="filter-fine-print">Include filters are applied first</div>
          </div>
        </div>
      </uib-tab>

      <uib-tab heading="Import/Export" deselect="clear_badge()" class="backup-tab">
        <div class="row">
          <div class="col-md-6">
            <h4>Export</h4>
            <textarea class="in-out-textarea" ng-model="tabs.import_export.config_output" cols="30" rows="10" readonly=true></textarea>
            <br>
            <button class="btn btn-primary inout-button" ng-click="tabs.import_export.export_settings()">Export</button>
          </div>
          <div class="col-md-6">
            <h4>Import</h4>
            <textarea class="in-out-textarea import-input" ng-model="config_input" cols="30" rows="10"></textarea>
            <button class="btn btn-primary inout-button import-btn" ng-click="tabs.import_export.import_settings(config_input)">Import</button>
          </div>
        </div>
      </uib-tab>

      <uib-tab heading="Logs" deselect="clear_badge()">
        <br>
        <p>A log of unusual events is kept by this add-on. You
          can <button type="button" ng-click="tabs.logs.request_logs()" class="btn btn-link no-padding">download the log</button> and send it to the developer to help resolve bugs. You can also <button ng-click="tabs.logs.clear_logs()" type="button" class="btn btn-link no-padding">delete the log</button> if you beleive it is taking up too much disk space.
        </p>
      </uib-tab>
    </uib-tabset>
</div>

<div class="modal-footer settings-footer">
  <div class="error-container">
    <div class="alert alert-danger setting-warning"
         ng-if="badge_is('sticky:less_than_5')">
      Check interval cannot be lower than 5 minutes
    </div>
    <div class="alert alert-danger setting-warning"
         ng-if="badge_is('sticky:bad_interval')">
      Check interval must be a positive number
    </div>
    <div class="alert alert-info setting-warning"
         ng-if="active_tab_idx === 1 && badge_is(null)">
      Excluded videos can be found in history
    </div>
    <div class="alert alert-danger setting-warning"
         ng-if="badge_is('dup_filter')">
      A filter with the same title pattern already exist
    </div>
    <div class="alert alert-danger setting-warning"
         ng-if="badge_is('import_error')">
      Import failed (malformed data?)
    </div>
    <div class="alert alert-success setting-warning"
         ng-if="badge_is('import_success')">
      Import successfully finished
    </div>
    <div class="alert alert-danger setting-warning"
         ng-if="badge_is('dump_failed')">
      Error occurred while obtaining the log
    </div>
    <div class="alert alert-success setting-warning"
         ng-if="badge_is('clear_success')">
      Logs cleared
    </div>
  </div>
  <button class="btn btn-primary save-btn" ng-click="save()" ng-disabled="!tabs.general.valid">Save</button>
  <button class="btn btn-warning cancel-btn" ng-click="cancel()">Cancel</button>
</div>
