<!DOCTYPE html>
<html>
<head>
    <title>Youtube Subscription Checker</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/style.css">
    <script src="lib/page.js"></script>

</head>
<body ng-app="subscription_checker" style="overflow:hidden">
    <div class="container-fluid" ng-controller="frame">
        <h1></h1>
        <div ng-view style="position:absolute; left:17%"></div>
        <div class="row">
            <div class="col-md-2">
                <input class="form-control" ng-model="channel_search" type="text" placeholder="Filter channels">
            </div>
        </div>
        {{params}}
        <div class="row animate-repeat" style="margin:10px 0 10px 0;" ng-repeat="channel in channels | filter:channel_search">
            <div class="col-md-2 channel-button">{{channel.name}}</div>
        </div>
    </div>
</body>
</html>