<h3 class="heading">Failed to migrate from previous version</h3>

<div class="modal-body init-error">
  <p>I was updated recently and was unable to transfer your data from the
  previous version to this one. This is probably due to data corruption. Your
  old data was not modified, you can access your old data by downgrading the
  add-on.</p>

  <p>If you believe this is caused by a bug and not data corruption, please
  <a href="https://github.com/XrXr/YoutubeSubscriptionChecker/issues/">submit an issue</a></p>
</div>
