<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
   - Author: XrXr
-->
<h3 class="heading">Changelog</h3>

<div class="modal-body">
    <h5>2.0</h5>
    <ul>
        <li>New features:
            <ul>
                <li>Skip videos by holding down <kbd>Ctrl</kbd> (or <kbd>⌘</kbd> on Mac) and clicking</li>
                <li>Add video filters to automatically discard videos you don't want to watch</li>
                <li>Preference/subscription import/export</li>
                <li>History mode</li>
            </ul>
        </li>
        <li>Bug fixes:
            <ul>
                <li>Check interval not being saved</li>
                <li>Not grabbing enough activities from YouTube API, causing uploads being missed from channels with a lot of activities (rare)</li>
                <li>Complete revamp of the internals</li>
            </ul>
        </li>
    </ul>
    <h5>1.0</h5>
    <ul>
        <li>Initial release</li>
    </ul>
</div>
<div class="modal-footer"><button class="btn btn-primary" ng-click="$dismiss()">Close</button></div>