<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
   - Author: XrXr
-->
<h3 class="heading">Settings</h3>

<div class="modal-body">
    <tabset>
      <tab heading="General">
        <br>
        <form class="form-inline" ng-class="ns.interval_class" role="form">
            <label class="control-label">Check Interval &nbsp;</label>
            <input class="form-control" ng-model="config.interval" ng-change="validate(config.interval)" type="text" placeholder="Time in minutes" style="width: 40%">
            &nbsp;
            <label class="control-label">minutes</label>
        </form>
        <br>
        <form class="form-inline" role="form">
            <label class="control-label">Notification Sound
                <input type="checkbox" ng-model = "config.play_sound" class="setting-check-box">
            </label>
        </form>
        <br>
        <form class="form-inline" role="form">
            <label class="control-label">Open Video in Background Tab
                <input type="checkbox" ng-model="config.in_background" class="setting-check-box">
            </label>
        </form>
        <br>
        <form class="form-inline" role="form">
            <label class="control-label">Enable Animations
                <input type="checkbox" ng-model="config.animations" class="setting-check-box">
            </label>
        </form>
      </tab>

      <tab heading="Filters" select="ns.filter_active = true" deselect="ns.filter_active = false" class="container-fluid">
        <br>
        <div class="row">
          <div class="col-md-5">
            <select select-index="ns.current_filter" multiple="true" class="form-control filter-select" size="10">
              <option ng-class="get_filter_class(f)" ng-repeat="f in config.filters" class="ellipses" ng-click="current_filter(f)" ng-value="$index">{{f.channel + " | " + f.match}}</option>
            </select>
            <form class="form-inline" role="form">
                <button type="button" ng-click="add_filter(new_filter)" class="btn btn-success">Add</button>
                <button type="button" ng-click="remove_filter(ns.current_filter)" class="btn btn-danger">Remove</button>
                <button type="button" ng-click="move_up(ns.current_filter)" class="btn btn-primary">&and;</button>
                <button type="button" ng-click="move_down(ns.current_filter)" class="btn btn-primary">&or;</button>
            </form>
          </div>
          <div class="col-md-7">
            <h4>For channel that match...</h4>
            <div>
              <input ng-model="new_filter.channel" class="form-control" type="text" typeahead="name for name in channels.name_list | filter:$viewValue | limitTo:4" typeahead-editable="false" placeholder="cases are ignored">
            </div>
            <h4>only videos with title that match...</h4>
            <div>
              <input ng-model="new_filter.match" class="form-control filter-input" type="text" placeholder="cases are ignored">
              <div class="checkbox filter-regex-checkbox">
                <label>
                  <input type="checkbox" ng-model="new_filter.regex"> RegEx
                </label>
              </div>
            </div>
            <h4>should be...</h4>
            <label class="checkbox-inline">
              <input type="radio" ng-model="new_filter.include" name="filter_option" value="exclude">Excluded
            </label>
            <label class="checkbox-inline">
              <input type="radio" ng-model="new_filter.include" name="filter_option" value="include">Included
            </label>
          </div>
        </div>
      </tab>

      <tab heading="Import/Export">
        <div class="row">
          <div class="col-md-6">
            <h4>Export</h4>
            <textarea ng-model="ns.config_output" cols="30" rows="10" readonly=true></textarea>
            <br>
            <button class="btn btn-primary inout-button" ng-click="export_settings()">Export</button>
          </div>
          <div class="col-md-6">
            <h4>Import</h4>
            <textarea ng-model="config_input" cols="30" rows="10"></textarea>
            <button class="btn btn-primary inout-button" ng-click="import_settings(config_input)">Import</button>
          </div>
        </div>
      </tab>
    </tabset>
</div>

<div class="modal-footer" style="margin: 0">
    <div class="alert alert-info setting-warning" ng-if="ns.filter_active">Excluded videos can be found in history</div>
    <div class="alert alert-danger setting-warning" ng-if="ns.less_than_5">Check interval cannot be lower than 5 minutes</div>
    <div class="alert alert-danger setting-warning" ng-if="ns.bad_input">Check interval must be a positive number</div>
    <div class="alert alert-danger setting-warning" ng-if="ns.dup_filter">This filter already exist</div>
    <div class="alert alert-danger setting-warning" ng-if="ns.import_error">Import failed (malformed data?)</div>
    <button class="btn btn-primary" ng-click="save()" ng-disabled="!ns.valid">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>