<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
   - Author: XrXr
-->
<h3 class="heading">Settings</h3>
<div class="modal-body">
    <tabset>
      <tab heading="General">
        <br>
        <form class="form-inline" ng-class="s.interval_class" role="form">
                <label class="control-label">Check Interval &nbsp;</label>
                <input class="form-control" ng-model="s.config.interval" ng-change="s.validate(s.config.interval)" type="text" placeholder="Time in minutes" style="width: 40%">
                &nbsp;
                <label class="control-label" for="apple">minutes</label>
        </form>
        <br>
        <form class="form-inline" role="form">
            <label class="control-label">Notification Sound
                <input type="checkbox" ng-model = "s.config.play_sound" class="setting-check-box">
            </label>
        </form>
        <br>
        <form class="form-inline" role="form">
            <label class="control-label">Open Video in Background Tab
                <input type="checkbox" ng-model="s.config.in_background" class="setting-check-box">
            </label>
        </form>
        <br>
        <form class="form-inline" role="form">
            <label class="control-label">Enable Animations
                <input type="checkbox" ng-model="s.config.animations" class="setting-check-box">
            </label>
        </form>
      </tab>
      <tab heading="Filters">
        <br>
        <form class="form-inline" role="form">
            <button type="button" class="btn btn-success">Filter configuration</button>
        </form>
      </tab>
    </tabset>

</div>
<div class="modal-footer" style="margin: 0">
    <div class="alert alert-danger setting-warning" ng-if="s.less_than_5">Check interval cannot be lower than 5 minutes</div>
    <div class="alert alert-danger setting-warning" ng-if="s.bad_input">Check interval must be a positive number</div>
    <button class="btn btn-primary" ng-click="s.save()" ng-disabled="!s.valid">Save</button>
    <button class="btn btn-warning" ng-click="s.cancel()">Cancel</button>
</div>