<div masonry='{
    "itemSelector": ".video",
    "gutter": 19,
    "isFitWidth": true
    }' class="container-fluid" style="margin-left:0; margin-right:0">
    <div masonry-tile ng-repeat="video in v.videos | filter: {snippet: {channelId: chnl.current_channel}}" class="video">
        <ul class="flat-ul" title="{{video.snippet.title}}">
            <li>
                <img ng-click="open_video(video, $event)" width="300px" height="169px" src="http://placekitten.com/300/169" ng-src="{{video.snippet.thumbnails.medium.url}}"></img>
            </li>
            <li class="video-title">
                <span ng-bind="video.snippet.title"></span>
            </li>
            <li>
                <span style="float:left" ng-bind="video.snippet.channelTitle"></span>
                <span style="float:right" ng-bind="video.duration"></span>
            </li>
        </ul>
    </div>
</div>
<span class="no-videos" ng-if="!(v.videos.length)">
    No new videos
</span>