<div id="video-container" class="container-fluid">
    <div ng-repeat="video in vs.videos" class="video">
        <ul class="video-ul" title="{{video.snippet.title}}">
            <li>
                <img ng-click="open_video(video)" width="300px" height="169px" ng-src="{{video.snippet.thumbnails.medium.url}}"></img>
            </li>
            <li class="video-title">
                <span ng-bind="video.snippet.title"></span>
            </li>
            <li>
                <span style="float:left" ng-bind="video.snippet.channelTitle"></span>
                <span style="float:right" ng-bind="video.duration"></span>
            </li>
        </ul>
    </div>
    <div id="hahah" style="width:280px"></div>
</div>
<span class="no-videos" ng-if="!(vs.videos.length)">
    No new videos
</span>