<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
   - Author: XrXr
-->
<div masonry='{
    "itemSelector": ".video",
    "gutter": 19,
    "isFitWidth": true
    }' class="container-fluid" style="margin-left:0; margin-right:0">
    <div masonry-tile ng-repeat="video in v.current_view" class="video" id="{{video.snippet.title}}">
        <ul class="flat-ul" title="{{video.snippet.title}}">
            <li>
                <img ng-click="open_video(video, $event)" width="300px" height="169px" src="loading.png" ng-src="{{video.snippet.thumbnails.medium.url}}"></img>
            </li>
            <li class="video-title">
                <span ng-bind="video.snippet.title"></span>
            </li>
            <li>
                <span style="float:left" ng-bind="video.snippet.channelTitle"></span>
                <span style="float:right" ng-bind="video.duration"></span>
            </li>
        </ul>
    </div>
</div>
<span class="no-videos" ng-if="!(v.current_view.length) || v.to_remove.length >= v.current_view.length">
    No new videos
</span>