.channel-button {
    font-size: 18px;
    cursor: default;
    transition: all 0.2s;

}
.channel-button:hover {
    background-color: grey;
    color: white;
}
.video {
    list-style-type: none;
}
.setting {
    margin-top: 10px
}
.setting-check-box{
    position: absolute !important; 
    margin-left: 2.7% !important; 
    margin-top: 1.9% !important; 
}
.fine-print{
    color: grey;
    font-size: 13px;
    font-style: italic;
}
.channel-search-result {
    position: absolute;
    left: 50%;
}
.subscription-edit{
    margin-right: 9.5%
}
.no-result.ng-leave, .no-result.ng-enter{
    transition: opacity linear 0.5s;
}
.no-result.ng-enter{
    opacity: 0;
}
.no-result.ng-enter-active{
    opacity: 1;
}
.animate-repeat.ng-move, .animate-repeat.ng-enter, .animate-repeat.ng-leave {
    transition: all linear 0.5s;
}
.animate-repeat.ng-leave.ng-leave-active, .animate-repeat.ng-move, .animate-repeat.ng-enter {
    opacity: 0;
}
.animate-repeat.ng-leave, .animate-repeat.ng-move.ng-move-active, .animate-repeat.ng-enter.ng-enter-active {
    opacity: 1;
}
.modal {
  overflow-y: auto;
}