body{
    overflow-x: hidden;
}
.animate-li{
    width: calc(16.6667% - 25px);
    font-size: 18px;
    line-height:26px;
    clear: both;
    margin-bottom: 10px;
}
.animate-li.ng-enter,
.animate-li.ng-leave {
    transition: 0.5s ease-in-out all ;
}
.animate-li.ng-leave.ng-leave-active,
.animate-li.ng-enter {
    opacity: 0;
    height: 0;
    margin-bottom: 0;
}
.animate-li.ng-leave,
.animate-li.ng-enter.ng-enter-active {
    height: 26px;
    opacity: 1;
    margin-bottom: 10px;
}
.flat-ul{
    list-style-type: none;
    padding-left: 0;
}
.channel-button {
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    text-overflow: ellipsis;
    -moz-user-select: none;
}
.channel-button:hover {
    background-color: gainsboro;
    color: grey;
}
.video-count {
    color: grey;
    float: right;
    text-align: right;
}
.selected-button {
    background-color: grey;
    color: white;
}
@keyframes leave{
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(0.001);
    }
}
.video {
    float: left;
    list-style-type: none;
    position: relative;
    width:300px;
    margin-bottom: 15px;
}
.enlarge-then-leave{
    transform-origin: 50% 50%;
    animation: leave 700ms;
}
.no-videos {
    color: gainsboro;
    font-size: 38px;
    width: 250px;
    position: fixed;
    left: 50%;
    top: 30%;
    cursor: default;
    -moz-user-select: none;
}
.no-videos.ng-enter{
    transition: opacity linear 0.5s;
    transition-delay: 700ms;
    opacity: 0;
}
.no-videos.ng-enter-active {
    opacity: 1;
}
@media (max-width:768px) {
    .no-videos {
        display: none;
    }
}
@media (max-width:768px) {
    .video-count {
        display: none;
    }
}
.hub-ui {
    min-width: 98px;
}
.video-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    list-style-type: none;
    font-size: 18px;
}
.setting {
    margin-top: 10px
}
.setting-check-box {
    position: absolute !important;
    margin-left: 2.7% !important;
    margin-top: .7% !important;
}
.setting-warning {
    width: 55%;
    position: absolute;
    text-align: center;
    bottom: -3%;
    left: 12%;
}
.fine-print {
    color: grey;
    font-size: 13px;
    font-style: italic;
}
.channel-search-result {
    position: absolute;
    left: 50%;
}
.subscription-edit {
    margin-right: 9.5%
}
.no-result.ng-leave,
.no-result.ng-enter {
    transition: opacity linear 0.5s;
}
.no-result.ng-enter {
    opacity: 0;
}
.no-result.ng-enter-active {
    opacity: 1;
}
.modal {
    overflow-y: auto;
}