<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
   - Author: XrXr
-->
<script type="text/ng-template" id="channel-title.html">
  <a>
    <span bind-html-unsafe="match.model.title | escape | typeaheadHighlight:query"></span>
  </a>
</script>
<h3 class="heading">Settings</h3>

<div class="modal-body">
    <tabset>
      <tab heading="General">
        <br>
        <form class="form-inline" ng-class="tabs.general.interval_class" role="form">
            <label class="control-label">Check Interval &nbsp;</label>
            <input class="form-control interval-input" ng-model="config.interval" ng-change="tabs.general.validate(config.interval)" type="text" placeholder="Time in minutes" style="width: 40%">
            &nbsp;
            <label class="control-label">minutes</label>
        </form>
        <br>
        <form class="form-inline" role="form">
            <label class="control-label">Notification Sound
                <input type="checkbox" ng-model = "config.play_sound" class="setting-check-box">
            </label>
        </form>
        <br>
        <form class="form-inline" role="form">
            <label class="control-label">Open Video in Background Tab
                <input type="checkbox" ng-model="config.in_background" class="setting-check-box">
            </label>
        </form>
        <br>
        <form class="form-inline" role="form">
            <label class="control-label">Enable Animations
                <input type="checkbox" ng-model="config.animations" class="setting-check-box">
            </label>
        </form>
        <br>
        <button type="button" class="btn btn-primary" ng-click="tabs.general.clear_history()">Clear History</button>
        <button type="button" class="btn btn-primary" ng-click="tabs.general.changelog()">Changelog</button>
      </tab>

      <tab heading="Filters" select="tabs.filter.filter_active = true" deselect="tabs.filter.filter_active = false" class="container-fluid">
        <br>
        <div class="row">
          <div class="col-md-5">
            <select select-index="tabs.filter.current_filter" multiple="true" class="form-control filter-select" size="10">
              <option ng-repeat="f in config.filters" class="ellipses" ng-class="get_filter_class(f)" ng-click="tabs.filter.fill_input_form(f)" ng-value="$index">{{f.channel_title + " | " + f.video_title_pattern}}</option>
            </select>
            <form class="form-inline" role="form">
                <!-- Since the title matcher input box has typeahead-editable=false, the model will be `undefined` when the user has not selected one of the options in the popup. Test cases:
                    channel is empty                  | pattern is empty     : disabled
                    channel is empty                  | pattern is non-empty : disabled
                    channel is non-empty, not in list | pattern is empty     : disabled
                    channel is non-empty, not in list | pattern is non-empty : disabled
                    channel is non-empty, in list     | pattern is empty     : disabled
                    channel is non-empty, in list     | pattern is non-empty : enabled
                yes it's just  andThree :: Bool -> Bool -> Bool -> Bool
                               andThree p1 p2 p3 = p1 && p2 && p3
                The getting undefined is special, this needs testing.
                 -->
                <button type="button" ng-click="tabs.filter.add_filter(tabs.filter.new_filter)" ng-disabled="tabs.filter.new_filter.channel === undefined || tabs.filter.new_filter.channel.length === 0 || tabs.filter.new_filter.video_title_pattern.length === 0" class="btn btn-success">Add</button>
                <button type="button" ng-click="tabs.filter.remove_filter(tabs.filter.current_filter)" class="btn btn-danger">Remove</button>
            </form>
          </div>
          <div class="col-md-7">
            <h4>For the channel...</h4>
            <div>
              <input ng-model="tabs.filter.new_filter.channel" class="form-control" type="text" typeahead="channel for channel in channels.channels | filter:{title:$viewValue} | limitTo:4" typeahead-template-url="channel-title.html" typeahead-editable="false" placeholder="cases are ignored">
            </div>
            <h4>only videos with title that match...</h4>
            <div>
              <input ng-model="tabs.filter.new_filter.video_title_pattern" class="form-control filter-input" type="text" placeholder="cases are ignored">
              <div class="checkbox filter-regex-checkbox">
                <label>
                  <input type="checkbox" ng-model="tabs.filter.new_filter.video_title_is_regex"> RegEx
                </label>
              </div>
            </div>
            <label class="tag-checkbox">
              <input type="checkbox" ng-model="tabs.filter.new_filter.inspect_tags">
              <span>also check video tags</span>
            </label>
            <h4 class="filter-shouldbe">should be...</h4>
            <label class="checkbox-inline">
              <input type="radio" ng-model="tabs.filter.include_radio_getter_setter" ng-model-options="{ getterSetter: true }" name="filter_option" value="exclude" checked="true"> Excluded
            </label>
            <label class="checkbox-inline">
              <input type="radio" ng-model="tabs.filter.include_radio_getter_setter" ng-model-options="{ getterSetter: true }" name="filter_option" value="include"> Included
            </label>
            <div class="filter-fine-print">Include filters are applied first</div>
          </div>
        </div>
      </tab>

      <tab heading="Import/Export" class="backup-tab"
            deselect="tabs.import_export.import_error = false;
                      tabs.import_export.import_success = false;">
        <div class="row">
          <div class="col-md-6">
            <h4>Export</h4>
            <textarea class="in-out-textarea" ng-model="tabs.import_export.config_output" cols="30" rows="10" readonly=true></textarea>
            <br>
            <button class="btn btn-primary inout-button" ng-click="tabs.import_export.export_settings()">Export</button>
          </div>
          <div class="col-md-6">
            <h4>Import</h4>
            <textarea class="in-out-textarea import-input" ng-model="config_input" cols="30" rows="10"></textarea>
            <button class="btn btn-primary inout-button import-btn" ng-click="tabs.import_export.import_settings(config_input)">Import</button>
          </div>
        </div>
      </tab>

      <tab heading="Logs" deselect="tabs.logs.dump_failed = false;
                                    tabs.logs.clear_success = false">
        <br>
        <p>A log of unusual events is kept by this add-on. You
          can <button type="button" ng-click="tabs.logs.request_logs()" class="btn btn-link no-padding">download the log</button> and send it to the developer to help resolve bugs. You can also <button ng-click="tabs.logs.clear_logs()" type="button" class="btn btn-link no-padding">delete the log</button> if you beleive it is taking up a lot of disk space.
        </p>
      </tab>
    </tabset>
</div>

<div class="modal-footer" style="margin: 0">
    <div class="alert alert-danger setting-warning" ng-if="tabs.general.less_than_5">Check interval cannot be lower than 5 minutes</div>
    <div class="alert alert-danger setting-warning" ng-if="tabs.general.bad_input">Check interval must be a positive number</div>
    <div class="alert alert-info setting-warning" ng-if="tabs.filter.filter_active">Excluded videos can be found in history</div>
    <div class="alert alert-danger setting-warning" ng-if="tabs.filter.dup_filter">This filter already exist</div>
    <div class="alert alert-danger setting-warning" ng-if="tabs.import_export.import_error">Import failed (malformed data?)</div>
    <div class="alert alert-success setting-warning" ng-if="tabs.import_export.import_success">Import successfully finished</div>
    <div class="alert alert-danger setting-warning" ng-if="tabs.logs.dump_failed">Error occurred while obtaining the log</div>
    <div class="alert alert-success setting-warning" ng-if="tabs.logs.clear_success">Logs cleared</div>
    <button class="btn btn-primary save-btn" ng-click="save()" ng-disabled="!tabs.general.valid">Save</button>
    <button class="btn btn-warning cancel-btn" ng-click="cancel()">Cancel</button>
</div>
