<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
   - Author: XrXr
-->
<div class="video-container">  <!-- .video-container is looked up by js -->
  <div ng-repeat="video in v.videos"
       class="video flat-ul"
       title="{{video.title}}"
       data-channel-id="{{video.channel_id}}">
    <a class="video-link"
       ng-click="open_video(video, $event)"
       ng-href="https://www.youtube.com/watch?v={{video.video_id}}">
      <img width="300px" height="169px" src="loading.png"
           ng-src="{{video.thumbnails.medium.url}}"></img>
    </a>
    <div class="video-title" ng-bind="video.title"></div>
    <div class="flex-container">
      <div ng-bind="channel_title(video)"
           class="video-channel-title ellipses"></div>
      <div ng-bind="video.duration"></div>
    </div>
  </div>
</div>
<div ng-if="first_payload">
  <span ng-if="!v.history_mode && no_videos_at_all()" class="no-videos">
    No new videos<br>Ctrl + click to skip video
  </span>
  <span ng-if="v.history_mode && no_videos_at_all()" class="no-videos">
    History is empty<br>Ctrl + click to skip video
  </span>
  <span ng-if="!v.history_mode && no_channel_videos()" class="no-videos">
    No new videos for this channel<br>Ctrl + click to skip video
  </span>
  <span ng-if="v.history_mode && no_channel_videos()" class="no-videos">
    No history for this channel<br>Ctrl + click to skip video
  </span>
</div>
