<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/.
   - Author: XrXr
-->
<div class="container-fluid video-container">
    <div ng-repeat="video in v.current_view"
         class="video flat-ul"
         title="{{video.title}}"
         data-channel-id="{{video.channel_id}}">
      <a class="video-link"
         ng-click="open_video(video, $event)"
         ng-href="https://www.youtube.com/watch?v={{video.video_id}}">
        <img width="300px" height="169px" src="loading.png"
             ng-src="{{video.thumbnails.medium.url}}"></img>
      </a>
      <div class="video-title" ng-bind="video.title"></div>
      <span class="pull-left" ng-bind="channel_title(video)"></span>
      <span class="pull-right" ng-bind="video.duration"></span>
    </div>
</div>
<span ng-if="first_payload && (!(v.current_view.length) || v.to_remove.length >= v.current_view.length)" class="no-videos">
    No {{v.history_mode ? "history" : "new videos"}}<br>Control click to skip video
</span>
