<div class="container-fluid">
    <div ng-repeat="video in videos track by $index" style="margin-bottom:10px; margin-top:10px;">
        <ul class="col-md-2 col-xs-2 video" style="width:20%">
            <li>
                <div>
                    <img src="http://placekitten.com/g/200/150"></img>
                </div>                
            </li>
            <li>
                Uploaded by {{$index}}
            </li>
            <li>
                40:20
            </li>
        </ul>
        <div class="row" ng-if="($index+1) % 5 == 0" style="width:80%">
        </div>
    </div>
</div>